						.form-group
							ul.iCheck.form-control(data-color='green')
								li.input#inputAgreement(name="agreement",required,type="checkbox", parsley-trigger="ifUnchecked ifChecked", parsley-group="agreement")
									label <%= agreeWith %>


