option(value='Australia') Australia
	option(value='China') China
	option(value='Japan') Japan
	option(value='Thailand', selected='') Thailand
	option(value='United States') United States
	option(value='United Kingdom') United Kingdom