							label.control-label {{displayName}}
							select.selectpicker.form-control(style='display: none;')
								option(value='0') 必须按单裁剪
								option(value='1') 可少裁
								option(value='2') 可多裁
							.btn-group.bootstrap-select.form-control(style='width:260px')
								button.btn.dropdown-toggle.selectpicker.btn-default(data-toggle='dropdown', type='button')
									.filter-option.pull-left  必须按单裁剪
									.caret
								.dropdown-menu.open
									ul.dropdown-menu.inner.selectpicker
										li.selected(rel='0')
											a(style='', tabindex='0')
												span.text 必须按单裁剪
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li(rel='1')
											a(style='', tabindex='0')
												span.text 可少裁
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li(rel='2')
											a(style='', tabindex='0')
												span.text 可多裁
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
