						.form-group
							select.selectpicker.form-control.show-menu-arrow.show-tick(style='display: none;')
								option(value='Australia') Australia
								option(value='China') China
								option(value='Japan') Japan
								option(value='Thailand', selected='') Thailand
								option(value='United States') United States
								option(value='United Kingdom') United Kingdom
							.btn-group.bootstrap-select.form-control.show-menu-arrow.show-tick
								button.btn.dropdown-toggle.selectpicker.btn-default(type='button', data-toggle='dropdown')
									.filter-option.pull-left China
									.caret
								.dropdown-menu.open(style='max-height: 524px; overflow: hidden; min-height: 92px;')
									ul.dropdown-menu.inner.selectpicker(role='menu', style='max-height: 512px; overflow-y: auto; min-height: 80px;')
										li(rel='0')
											a(tabindex='0', style='')
												span.text Australia
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li.selected(rel='1')
											a(tabindex='0', style='')
												span.text China
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li(rel='2')
											a(tabindex='0', style='')
												span.text Japan
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li(rel='3')
											a(tabindex='0', style='')
												span.text Thailand
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li(rel='4')
											a(tabindex='0', style='')
												span.text United States
												i.glyphicon.glyphicon-ok.icon-ok.check-mark
										li(rel='5')
											a(tabindex='0', style='')
												span.text United Kingdom
												i.glyphicon.glyphicon-ok.icon-ok.check-mark