						.form-group
							label.control-label {{displayName}}
							ul.iCheck.form-control(data-color='green')
								li.pull-left.col-xs-6(style="padding-bottom:0px")
									input(type="radio",id="title-mr",name="title",value="Mr", parsley-trigger="ifClicked ifChanged",parsley-required="true",parsley-group="title")
									label(style="margin-bottom:0px;") <%= titleMr %>
								li.pull-left.col-xs-6(style="padding-bottom:0px")
									input(type="radio",id="title-ms",name="title",value="Ms", parsley-trigger="ifClicked ifChanged",parsley-group="title")
									label(style="margin-bottom:0px") <%= titleMs %>