						.{{selector}}.form-group
							label.control-label <%= locale.{{fieldName}}%>
							input.form-control(name="{{selector}}",type="text"{% if(typeof validation != 'undefined' && validation){%},{{validation}}{%}%}{% if(typeof placeholder != 'undefined' && placeholder){%},placeholder!="<%= locale.{{placeholderName}} %>"{%}%} {% if(showField){%},value!="<%= record.get('{{field}}')%>"{%}%})
