						.{{selector}}.form-group
							label.control-label <%= locale.{{fieldName}}%>
							textarea.form-control(name="{{selector}}"{% if(typeof validation != 'undefined' && validation){%},{{validation}}{%}%}{% if(showField){%},value!="<%= record.get('{{field}}')%>"{%}%})
