						.{{selector}}.form-group
							label.control-label <%= locale.{{fieldName}}%>
							.input-icon.right
								i.fa.fa-user.ico
								input.form-control(name="{{selector}}",type="text"{% if(typeof validation != 'undefined' && validation){%},{{validation}}{%}%}{% if(showField){%},value!="<%= record.get('{{field}}')%>"{%}%})
