ol.breadcrumb{% for(var i=0;i<BREADCRUMB.length;i++){ var node = BREADCRUMB[i];  %}{% 		if(typeof node.url != 'undefined' && node.url){ %}
	li
		a(href!="{{ node.url }}") <%= breadcrumb.{{node.name}} %>{% 		} else { %}
	li.active <%= breadcrumb.{{node.name}} %>{% 		} %}{% } %}
#content
	.row
		.panel-heading
			h2 <%= viewTitle%>
			{%if(typeof viewDescription=='string'){%}
			p <%= viewDescription%>
			{%}%}
		.panel-body
			.form.record-form(role="form",parsley-validate){% for(var i=0;i<ELEMENTS.length;i++) { var ELEMENT = ELEMENTS[i];  if((parseInt(i)%2)==0){%}
				.row
					.col-md-6
{{ELEMENT}}{% } else{%}
					.col-md-6
{{ELEMENT}}{% } %}{% } %}
			.panel-footer{% for(var i=0;i<ACTIONS.length;i++) { var ACTION = ACTIONS[i];  %}
{{ACTION}}{% } %}