ol.breadcrumb{% for(var i=0;i<BREADCRUMB.length;i++){ var node = BREADCRUMB[i];  %}{% 		if(typeof node.url != 'undefined' && node.url){ %}
	li
		a(href!="{{ node.url }}") <%= locale.breadcrumb.{{node.name}} %>{% 		} else { %}
	li.active <%= locale.breadcrumb.{{node.name}} %>{% 		} %}{% } %}
#content
	.row
		.col-md-12
			.panel-heading
				h2 <%= locale.viewTitle%>
				{%if(typeof viewDescription=='string'){%}
				p <%= locale.viewDescription%>
				{%}%}
			.panel-body
				.form.record-form(role="form",parsley-validate){% for(var i=0;i<ELEMENTS.length;i++) { var ELEMENT = ELEMENTS[i];  %}
{{ELEMENT}}{% } %}
			.panel-footer{% for(var i=0;i<ACTIONS.length;i++) { var ACTION = ACTIONS[i];  %}
{{ACTION}}{% } %}