//- Openbiz App Frontend Grid Template File
//- APPBUILDER_ALLOW_OVERRIDE = YES  // if you have manual modified this file please change APPBUILDER_ALLOW_OVERRIDE value to NO
ol.breadcrumb{% for(var i=0;i<BREADCRUMB.length;i++){ var node = BREADCRUMB[i];  %}{% 		if(typeof node.url != 'undefined' && node.url){ %}
	li
		a(href!="{{ node.url }}") <%= locale.breadcrumb.{{node.name}} %>{% 		} else { %}
	li.active <%= locale.breadcrumb.{{node.name}} %>{% 		} %}{% } %}
#content
	.row
		.col-lg-12
			section.panel.wizard-form.corner-flip<% if(locale.viewTitle){ %>
				header.panel-heading.sm
					h2
						strong <%= locale.viewTitle%> {%if(typeof viewDescription=='string'){%}
						p <%= locale.viewDescription%>{%}%}<%}%>
				.panel-body.openbiz-grid-spacing
					.data-grid
				.panel-footer{% for(var i=0;i<ACTIONS.length;i++) { var ACTION = ACTIONS[i];  %}
					{{ACTION.selector}}{% } %}