//- Openbiz App Frontend Grid Template File
//- APPBUILDER_ALLOW_OVERRIDE = YES  // if you have manual modified this file please change APPBUILDER_ALLOW_OVERRIDE value to NO
<% if(locale.viewTitle){ %>
header.panel-heading.sm
	h2
		strong <%= locale.viewTitle%> {%if(typeof viewDescription=='string'){%}
		p <%= locale.viewDescription%>{%}%}<%}%>
	.panel-body
		.form.record-form(role="form",parsley-validate){% for(var i=0;i<ELEMENTS.length;i++) { var ELEMENT = ELEMENTS[i];  if((parseInt(i)%2)==0){%}
			.row.vogdata-show-grid
				.col-md-6
					{{ELEMENT.selector}}{% } else{%}
				.col-md-6
					{{ELEMENT.selector}}{% } %}{% } %}
	.panel-footer{% for(var i=0;i<ACTIONS.length;i++) { var ACTION = ACTIONS[i];  %}
		{{ACTION.selector}}{% } %}