//- Openbiz App Frontend Grid Template File
//- APPBUILDER_ALLOW_OVERRIDE = YES  // if you have manual modified this file please change APPBUILDER_ALLOW_OVERRIDE value to NO
section.panel.corner-flip
	<% if(locale.viewTitle){ %>
	header.panel-heading
		<% if(locale.viewTitle){ %>
		h2 <%= locale.viewTitle%>
		<%}%>
		{%if(typeof viewDescription=='string'){%}
		p <%= locale.viewDescription%>
		{%}%}
	<%}%>
	.panel-body
		.openbiz-chart
	{% if(ACTIONS.length>0){ %}
	.panel-footer{% for(var i=0;i<ACTIONS.length;i++) { var ACTION = ACTIONS[i];  %}
		{{ACTION.selector}}{% } %}