.row
	section.panel.wizard-form.corner-flip
		<% if(locale.viewTitle){ %>
		header.panel-heading
			<% if(locale.viewTitle){ %>
			h2 <%= locale.viewTitle%>
			<%}%>
			{%if(typeof viewDescription=='string'){%}
			p <%= locale.viewDescription%>
			{%}%}
		<%}%>
		.panel-body
			.data-grid
		.panel-footer{% for(var i=0;i<ACTIONS.length;i++) { var ACTION = ACTIONS[i];  %}
{{ACTION}}{% } %}